build/
CMakeUserPresets.json
.cache/
**/Drivers/.mxproject
**/Drivers/CMakeLists.txt
**/Drivers/CMakePresets.json
**/Drivers/STM32G431XX_FLASH.ld
**/Drivers/cmake/
**/Drivers/startup_stm32g431xx.s
.vscode/settings.json